.chart-container-continent{
  display: flex;
  flex-direction: row;
  margin: 5px auto;
  border-bottom: 2vw;
  box-sizing: border-box;
  justify-content: center;

  overflow-y: hidden;
  max-width: 100%;
  padding: 1vw;


}
.chart-container-continent >*{
  flex-grow: 1;
}
