.chart-container-bar {
  width: 60vw;
  height: 22vw;
  overflow-y: hidden;

}
.chart-bar {
  position: relative;
  width: 59vw;
  height: 22vw;
  padding-bottom: 2vw;
  padding-right: 2vw;
  overflow-x: hidden;
  overflow-y: hidden;

}

