.chart-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  border-top: 1px dotted #dceada;
  border-bottom: 1px dotted #dceada;
  background-color: #dceada;


}
.chart-container > * {
  flex-grow: 1;
}
