.chart-container-pie {
  width: 40vw;
  height: 22vw;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dceada;



  .chart-pie{
    position: relative;
    width: 38vw;
    height: 20vw;
    padding: 0 1vw;
    overflow-x: hidden;
    overflow-y: hidden;
    align-self: center;
    border: 0.4px dotted  #dceada;



  }


}

